<script type="text/javascript">
  heading = "junk2"
</script>

<form action="do/Register">
  <table>
    <tr>
      <td>Email</td>
      <td><input type="text" name="email" value="foo" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="text" name="password" value="foo" /></td>
    </tr>
    <tr>
      <td>First Name</td>
      <td><input type="text" name="firstname" value="foo" /></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><input type="text" name="lastname" value="foo" /></td>
    </tr>
  </table>
  <input type="submit" value="Lets Go!" />
</form>